/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* http://paletton.com/#uid=23B0N0ktSSEbc++k9++++vV++mb */

/*
MODULAR SCALE
ratio 1.333 @ 16px and 20px
16px  1em
20px  1.25em
21.328px
26.66px
28.43px
35.538px
37.897px
*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4 {
  color: #003773;
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-size: 37.897px;
  line-height: 50px;
  font-weight: 700;
}

h2 {
  font-size: 28.43px;
  line-height: 30px;
  font-weight: 600;

  margin: 0 5%;
  margin-bottom: 10px;
}

a {
  color: #217FE8;
  text-decoration: none;
}

/* todo: transition out & in */

a:hover {
  color: #6BB1FF;
  transition: 0.4s;
}

a:focus {
  border: 1px grey dotted;
}

ul,
ol,
li {
  list-style: none;
}

/* todo: change margins later */

header {
  margin: 10px 5% 10px 0;
  margin-bottom: 20px;
}

header h1 {
  margin-left: 5%;
}

header a {
  color: #003773;
}

header a:hover {
  color: #FFC05E;
}

/* form styles */
/* todo: add form reset later */

form {
  background-color: #ADD4FF;
  margin: 0 5%;
  margin-bottom: 40px;
  padding: 10px 10px;
}

label {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  display: block;
}

input {
  border: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
  color: #ffffff;
  background-color: #004EA6;

  cursor: pointer;
  padding: 0.611em;
  border-radius: 1em;
  float: inherit;
}

/* todo: make radio buttons touch accessible */
/* also make the radio buttons fuckginFbgin ALIGN PROPERLY */

#flightselection ul li {
  display: inline;

}

#flightselection li {
  padding-right: 120px;
}

#searchtitles li {
    font-size: 28px;
    line-height: 50px;
    font-weight: 700;
    padding-right: 50px;
}

#flightselection{
  background-color: white;
}
#returnFlights li, #departflights li{
  background-color: #ADD4FF;
}

 #duration{
  padding-left: 50px;
}

#stops{
  padding-left: 200px;
}

#price{
  padding-left: 50px;
}


#ftwo label{
  width: 30%;
  float: left;
}

#trip ul {

  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #004EA6;
  transition: .2s;
}

input[type="radio"] {
  width: auto;
}

/* todo: make radio buttons touch accessible make the stupid button more clickable */
/* also make the radio buttons fuckginFbgin ALIGN PROPERLY */

/* seat selection styles */
form {
  background-color: none;
}

.rows {
  display: inline-block;
  width: 100%;
}

.row {
  padding: 5px 0;
}

.seats {
  display: flex;
  justify-content: space-evenly;
  /* what rhe hell */
}

.seats a {
  display: block;
  padding: 15px;
  background-color: #004EA6;
  color: white;
}
/*
ADD4FF
6BB1FF
004EA6
003773
217FE8*/

.seats a:hover {
  background-color: #FFC05E;
}

.seats a.unavailable {

  background-color: #6BB1FF;

}

.seats a.selected {

}

@media screen and (min-width: 900px) {
#flightselection{
  display: block;

}

}
@media screen and (max-width: 500px){
  #flightselection{
   display: block;
    background-color: #ADD4FF;
  }
  #searchtitles{
    display: none;
  }
  #flightselection ul li {
    display: block;

  }

  #flightselection li {
    padding-right: 60px;
  }

}
@media screen and (min-width: 1000px){
  #flightselection{
    display: block;

  }
  }
