/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* http://paletton.com/#uid=23B0N0ktSSEbc++k9++++vV++mb */

/*
MODULAR SCALE
ratio 1.333 @ 16px and 20px
16px  1em
20px  1.25em
21.328px
26.66px
28.43px
35.538px
37.897px
*/

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* site styles */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; /* 16 / 16 = 1em */
  line-height: 1.25em; /* 20 / 16 = 1.25em */
}

h1,
h2,
h3,
h4 {
  color: #003773;
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-size: 2.3685625rem; /* 37.897 / 16 = 2.3685625 */
  line-height: 3.125rem; /* 50 / 16 = 3.125 */
  font-weight: 700;
}

h2 {
  font-size: 1.776875rem; /* 28.43 / 16 = 1.776875 */
  line-height: 1.875rem; /* 30 / 16 = 1.875 */
  font-weight: 600;

  margin: 0 5%;
  margin-bottom: 0.625rem; /* 10 / 16 =  */
}

h3 {
  font-size: 1.333rem; /* 21.328 / 16 = 1.333 */
  line-height: 1.25rem; /* 20 / 16 = 1.25 */
}

a {
  color: #217FE8;
  text-decoration: none;
}

a:hover {
  color: #6BB1FF;
  transition: 0.4s;
}

a:focus {
  border: 0.0625rem grey dotted; /* 1 / 16 = .0625 */
}

ul,
ol,
li {
  list-style: none;
}

figcaption {
  left: -700vw;
  position: absolute;
}

/* todo: change margins later */

header {
  margin: 0.625rem 5% 0.625rem 0; /* 10 / 16 = .625 */
  margin-bottom: 1.25rem; /* 20 / 16 = 1.25 */
}

header h1 {
  margin-left: 5%;
}

header a {
  color: #003773;
}

header a:hover {
  color: #FFC05E;
}

/* form styles */
/* todo: add form reset later */

form {
  background-color: #ADD4FF;
  margin: 0 5%;
  margin-bottom: 2.5rem; /* 40 / 16 = 2.5 */
  padding: 0.625rem 0.625rem; /* 10 / 16 = .625 */

  border-top: #004EA6 solid 1px;
}

label {
  font-size: 1em; /* 16 / 16 = 1 */
  line-height: 1.25rem; /* 20 / 16 = 1.25 */
  margin-bottom: 0.625rem;/* 10 / 16 = .625 */
  display: inline-block;
}

input {
  border: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 1em; /* 16 / 16 = 1 */
  line-height: 30px; /* 20 / 16 = 1.25 */
  width: 100%;
}

input[type="submit"] {
  background-color: #004EA6;
  color: white;
  padding: 0.611em;
  border-radius: 1em;
  float: inherit;
  margin-top: 0.625rem; /* 10 / 16 = .625 */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004EA6;
  transition: .2s;
}

input[type="radio"] {
  width: 1.5625rem; /* 25 / 16 = 1.5625 */
  display: inline;
}

/*  */

/* ticket number selection */

.ti{
  font-weight: 900;
  width: 25rem; /* 400 / 16 = 25 */
  margin-top: 10px;
}

.tickets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tickets li {
  width: 70px;
}

/* add lil buttons for adding or subtracting tickets */



/* error messages */

.error {
  color: red;
  margin-bottom: 10px;
}



/* todo: make radio buttons touch accessible */
/* also make the radio buttons fuckginFbgin ALIGN PROPERLY */

#flightselection ul li {
  display: inline;

}

#flightselection li {
  padding-right: 7.5rem;
} /* 120 / 16 = 7.5  */

#searchtitles li {
    font-size: 1.75rem; /* 28 / 16 = 1.75 */
    line-height: 3.125rem; /* 50 / 26 = 3.125 */
    font-weight: 700;
    padding-right: 3.125rem; /* 50 / 16 = 3.125 */
}

#flightselection{
  background-color: white;
}
#returnFlights li, #departflights li{
  background-color: #ADD4FF;
}

 #duration{
  padding-left: 3.125rem; /* 50 / 16 = 3.125 */
}

#stops{
  padding-left: 12.5rem; /* 200 / 16 = 12.5 */
}

#price{
  padding-left: 3.125rem; /* 50 / 16 = 3.125 */
}

#ftwo label{
  width: 30%;
  float: left;
}


#noM {
  margin-left: 0;
}

.noM {
  margin-left: 0;
}

/* todo: make radio buttons touch accessible make the stupid button more clickable */
/* also make the radio buttons fuckginFbgin ALIGN PROPERLY */

/* seat selection styles */

#airplane {
  margin: 0 5%;

}

.one,
.two {
  background-color: #ADD4FF;
  padding: 0.625rem; /* 10 / 16 = .625 */
  margin: 1.25rem 0; /* 20 / 16 = 1.25 */

  border-top: #004EA6 solid 0.125rem; /* 2 / 16 = .125 */
}

.rows {
  display: inline-block;
  width: 100%;
}

.row {
  padding: 0.3125rem 0; /* 5 / 16 = .3125 */
}

.seats {
  display: flex;
  justify-content: space-evenly;
  /* what rhe hell */
}

.seats a {
  display: block;
  padding: 0.9375rem; /* 15 / 16 = .9375 */
  width: 1.25rem; /* 20 / 16 = 1.25 */
  background-color: #004EA6;
  color: white;
  text-align: center;
}

.seats a:hover {
  background-color: #FFA111;
  opacity: .9;
}

.seats a.unavailable {
  opacity: .45;
}

a.unavailable:hover {
  background-color: #004EA6;
  cursor: default;
}

.seats a.selected {
  background-color: #FFC05E;
}

#confirmingdata {
  background-color: #ADD4FF;
  margin: 0 5%;
}

#confirmingdata form {
  border: none;
}

/* search results styles */

#titledepart {
  margin: 0 5%;
  margin-bottom: 0.625rem; /* 10 / 16 = .625rem */
}




/* State Styles  */

@media screen and (min-width:350px) {
  .seats a {
    padding: 1.25rem; /* 20 / 16 = 1.25 */
  }
}

@media screen and (min-width:450px) {
/* to do: change the margins of body so that i dont have to
do all this Extra work */

  form {
    margin-left: 10%;
    margin-right: 10%;
  }

  header {
    width: 20%;
    margin-left: 10%;
  }

  h2 {
    margin-left: 10%;
  }

  #titledepart {
    margin: 0 10%;
    margin-bottom: 0.625rem; /* 10 / 16 = .625rem */
  }

  #airplane {
    margin: 0 10%;
  }

  .seats a {
    padding: 1.25rem; /* 20 / 16 = 1.25 */
  }
}

@media screen and (min-width:550px) {

  #airplane {
    margin: 0 20%;
  }

  .seats a {
    padding: 1.375; /* 22/16 = 1.375  */
  }

  h2 {
    margin-left: 11%;
  }
}

@media screen and (min-width:700px) {
  form {
    margin-left: 15%;
    margin-right: 15%;
  }

  header {
    margin-top: 1.875rem; /* 30 / 16 = 1.875 */
    margin-left: 14%;
    width: 20%;
  }

  h2 {
    margin-left: 15%;
  }

  .seats a {
    padding: 27px; /* 27 / 16 = 1.6875 */
  }

  #titledepart {
    margin: 0 15%;
    margin-bottom: 0.625rem; /* 10 / 16 = .625rem */
  }
}

@media screen and (min-width:800px) {
  #airplane {
    margin-left: 15%;
    width: 72%;
    display: inline-block;
  }

  .seats a {
    padding: 0.625rem; /* 10 / 16 = .625 */
  }

  .one,
  .two {
    float: left;
  }
  .one {
    width: 40%;
  }

  .two {
    margin-top: 0;
    margin-left: 10%;
    width: 40%;
    position: relative;
  }

  .ft2 {
    /* i literally dont know */
  }

}

@media screen and (min-width: 1000px) {
  form {
    margin-left: 20%;
    margin-right: 20%;
  }

  header {
    margin-top: 5%;
    margin-left: 16%;
    margin-right: 15%;
    width: auto;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin-left: 20%;
  }

  #titledepart {
    margin: 0 20%;
  }

  #airplane {
    margin-left: 20%;
    width: 62%;
  }
}

@media screen and (min-width: 1200px) {
  #airplane {
    width: 63%;
  }
}

@media screen and (min-width: 900px) {
#flightselection{
  display: block;
}

}
@media screen and (max-width: 500px){
  #flightselection{
   display: block;
    background-color: #ADD4FF;
  }
  #searchtitles{
    display: none;
  }
  #flightselection ul li {
    display: block;

  }

  #flightselection li {
    padding-right: 3.75rem; /* 60 / 16 = 3.75 */
  }

}
@media screen and (min-width: 1000px){
  #flightselection{
    display: block;

  }

}
