/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
COLOR PALETTE
  http://paletton.com/#uid=13D0u0k7UUa3cZA5wXlaiQ5cFL3
  http://paletton.com/#uid=13D0u0kleqtbzEKgVuIpcmGtdhZ
*/

/*
MODULAR SCALE
ratio 1.333 @ 16px and 20px
16px  1em
20px  1.25em
21.328px
26.66px
28.43px
35.538px
37.897px
*/

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E4EEFB;
}

body {
  color: #23252A;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  color: #21477;
  font-size: 35.538px;
  line-height: 50px;
}

h2 {
  font-size: 21.328px;
  line-height: 30px;
}

a {
  color: #384665;
}

form {
  background-color: #87A8D3;
}

label {
  font-size: 16px;
  line-height: 20px;
}

input {
  border: none;
  box-sizing: border-box;
  background-color: #CEDFF5;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

input[type="submit"] {
  color: #E4EEFB;
  background-color: #5375A1;
}
